@import "../../../styles/breakpoint";

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

.main {
  position: fixed;
  inset: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;

  &[data-hide="true"] {
    display: none;
  }

  progress {
    width: 500px;
  }

  h4 {
    font-size: 1rem;
    line-height: calc(1rem * 1.5);
    color: $white;
    font-weight: 400;
    @include lg {
      font-size: 1.5rem;
      line-height: calc(1.5rem * 1.2);
    }
  }
}

.progress {
  width: 500px;
  height: 10px;
  border-radius: 999px;
  position: relative;
  background-color: #5a554e;
  overflow: hidden;
  &_bar {
    position: absolute;
    height: 100%;
    left: 0px;
    background-color: #9fa29c;
    transition: 0.5s all linear;
  }
}

@keyframes fadeInOut {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
